.idea/
public_html/*.*
public_html/wp-admin/
public_html/wp-includes/
public_html/wp-content/index.php
public_html/wp-content/languages/
public_html/wp-content/plugins/
public_html/wp-content/uploads/
public_html/wp-content/upgrade/
public_html/wp-content/themes/index.php
public_html/wp-content/themes/twentyfifteen/
public_html/wp-content/themes/twentyseventeen/
public_html/wp-content/themes/twentysixteen/
login.txt